<!DOCTYPE html>
<html lang="en">
<head>
    <title>Miri Mailtool</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="col display-3 text-primary">Miri Mailtool</h1>
        </div>
        <div class="row">
            <p class="col lead">
                Das Miri-Mailtool filtert doppelte Mailadressen und sortiert
                diejenigen aus, an welche bereits Nachrichten verschickt worden.
            </p>
        </div>
        
        <hr />
        
        {% block content %}{% endblock %}
    </div>
</body>
</html>
